@page
@using HexTest.WebUI.Areas.Identity.Pages.Account
@using HexTest.WebUI.Utilities
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password?";
}

<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="card col-lg-8">
                            <div class="card-body">

                                <div class="d-flex justify-content-center py-4">
                                    <a href="index.html" class="logo d-flex align-items-center w-auto">
                                        <img src="~/img/logo.png" alt="">
                                        <span class="d-none d-lg-block">@Html.Raw(@Common.ProjectProperties.get("ProjectCode"))</span>
                                    </a>
                                </div><!-- End Logo -->

                                <div class="row">
                                    <div class="col-md-12">
                                        <section>                                            
                                            <form method="post">
                                                <h5>Forgot Password</h5>
                                                <hr />
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="form-control">
                                                    <label asp-for="Input.Email" class="form-label">Enter your Email</label>
                                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="you@somewhere.com" />                                                    
                                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                </div>
                                                <div>&nbsp;</div>
                                                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                                                <div>&nbsp;</div>
                                                <div><a href="/index">Back to Login</a></div>
                                            </form>
                                        </section>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="credits">
                            Made with <a href="https://www.aiscipro.com" target="_blank">aiscipro</a>
                        </div>

                    </div>

                </div>
            </div>
        </section>


    </div>
</main>