@page

@using HexTest.WebUI.Pages;

@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>&nbsp;</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">@ViewData["Title"]</h5>

                        <form class="row g-3 needs-validation" novalidate>
                            <p>Website's Privacy Policy.</p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

